<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title ? current_page.data.title + " - eCommWar" : "eCommWar - Open Source E-Commerce Platforms" %></title>

    <meta name="description" content="<%= current_page.data.description ? current_page.data.description : 'eCommWar is a leaderboard of the top open-source e-commerce platforms. Promoting the bests for building reliable stores.' %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ecommwar">
    <meta name="twitter:title" content="eCommWar - Open Source E-Commerce Platforms">
    <meta name="twitter:description" content="eCommWar is a leaderboard of the top open-source e-commerce platforms. Curated by @ecommwar.">
    <meta name="twitter:image:src" content="https://www.ecommwar.com/images/ecommwar.png">
    <meta name="twitter:image:alt" content="eCommWar - Open Source E-Commerce Platforms">

    <meta property="fb:app_id" content="266088087153385"/>

    <!-- Open Graph data -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ecommwar.com/" />
    <meta property="og:image" content="https://www.ecommwar.com/images/ecommwar.png" />
    <meta property="og:description" content="eCommWar is a leaderboard of the top open-source e-commerce platforms. Promoting the bests for building reliable stores." />
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="eCommWar">
    <meta property="og:title" content="eCommWar - Open Source E-Commerce Platforms">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "eCommWar",
      "alternateName": "eCommWar - Open Source E-Commerce Platforms",
      "url": "https://www.ecommwar.com/"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "eCommWar",
      "url": "https://www.ecommwar.com/",
      "logo": "https://www.ecommwar.com/images/logo.png",
      "email": "info@ecommwar.com",
      "description": "A leaderboard of the top open-source e-commerce platforms. Promoting the bests for building reliable stores.",
      "sameAs": [
        "https://www.facebook.com/ecommwar",
        "https://m.me/ecommwar",
        "https://twitter.com/ecommwar",
        "https://plus.google.com/+ecommwar",
        "https://vk.com/ecommwar"
      ]
    }
    </script>

    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Roboto + Roboto Slab -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>

    <!-- eCommWar styles -->
    <%= stylesheet_link_tag "normalize", "syntax", "all" %>
  </head>

  <body>
    <div class="hero">
      <h1>
        <a href="/" class="logo">eCommWar</a>
        <em>Top Open-Source E-Commerce Platforms</em>
      </h1>

      <div id="share-button-top" class='share-button share-button-top'></div>

      <a href="https://github.com/eCommWar/eCommWar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

      <div class="carbon-ad">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kontaktifycom" id="_carbonads_js"></script>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div>
        <div class="postscript">
          Want to get updates about open source e-commerce platforms? Enter your email address below!
        </div>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#B6B6B6; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//ecommwar.us15.list-manage.com/subscribe/post?u=f343df000494afecb26bde300&amp;id=163ba2a9d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f343df000494afecb26bde300_163ba2a9d6" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
      <div class="postscript">
        eCommWar was last deployed on <strong><%= Time.now.utc.strftime("%B %-d, %Y") %></strong> at <strong><%= Time.now.utc.strftime("%k:%M") %> UTC</strong>.<br/>
        &copy; eCommWar <%= Time.now.year %>
      </div>
    </div>

    <%= javascript_include_tag "all" %>

    <!-- Page specific scripts -->
    <%= yield_content :scripts %>
  </body>
</html>
